body {
    font-family: 'Big Shoulders', sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 700; 
    color: white;
}

p {
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 400;
    color: white;
}

header {
    background-color: #d32f2f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #d32f2f;
    color: #8d0d0d;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8d0d0d;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #8d0d0d00;
    border-radius: 5px;
}

button {
    background-color: #d32f2f;
    color: #fff;
    padding: 20px 20px;
    border:#fff;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Big Shoulders', sans-serif;
}

button:hover {
    background-color: #b71c1c00;
}

p#total {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}